@charset "UTF-8";

/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
    margin: 0;
    padding: 0;
}

/* Estilos para páginas específicas com imagem de fundo */
body.index-page,
body.background-image,
body.login-page,
body.cliente-page,
body.equipamento-page,
body.fornecedor-page,
body.insumo-page,
body.pedido-page,
body.pedidoProduto-page,
body.insumoProduto-page,
body.produto-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Estilos para a página inicial */
body.index-page {
    background-image: url('../imagens/GuerraSelva.jpg');
}

/* Estilos para outras páginas com imagem de fundo */
body.background-image,
body.login-page,
body.cliente-page,
body.equipamento-page,
body.fornecedor-page,
body.insumo-page,
body.pedido-page,
body.pedidoProduto-page,
body.insumoProduto-page,
body.produto-page {
    background-image: url('../imagens/fundo.jpg');
}

/* Estilos para o menu */
#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #68b78e; /* Cor de fundo do menu */
    font-size: 18px;
    text-align: center; /* Centralizar os itens do menu */
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    font-size: 18px;
    padding: 15px 20px;
    display: inline-block;
    color: #000; /* Alterando a cor do texto para preto */
    text-decoration: none;
    transition: color 0.3s; /* Adicionando uma transição suave para a mudança de cor */
}

#menu ul li a:hover {
    color: #fff; /* Alterando a cor do texto ao passar o mouse */
    background-color: #4CAF50;  /* Cor de fundo do item do menu ao passar o mouse */
}



/* Estilos para botões */
input[type=submit],
.btn-consultar,
.btn-excluir,
.btn-adicionar {
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit],
.btn-consultar,
.btn-excluir {
    font-size: 14px;
}

input[type=submit],
.btn-consultar {
    background-color: #0CA94A;
}

.btn-excluir {
    background-color: #A90C0C;
}

.btn-adicionar {
    background-color: rgb(0, 0, 255);
}

input[type=submit]:hover,
.btn-consultar:hover,
.btn-excluir:hover,
.btn-adicionar:hover {
    background-color: #7f8fa6;
}

/* Estilos para campos de entrada */
.input_data,
.input_data_id,
.input_data_date {
    border: 2px solid #ccc; 
    border-radius: 4px;
    height: 40px;
    font-size: 18px;
    width: 300px;
    padding: 5px;
    transition: border-color 0.3s;
}

.input_data:focus,
.input_data_id:focus,
.input_data_date:focus {
    border-color: #68b78e; 
}

/* Estilos para tabelas */
.table_round {
    border-collapse: collapse;
    width: 60%;
}

.table_round th,
.table_round td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #fff;
}

.table_round th {
    background-color: #68b78e;
    color: #fff;
}



/* Estilos para títulos */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.title {
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out; 
}

/* Estilos para contêineres */
.container {
    margin: auto;
    width: 80%;
    border: 7px solid #68b78e;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para rótulos */
label {
    font-size: 18px;
    color: #FFFFFF; 
    margin-right: 10px;
    display: inline-block; 
    margin-bottom: 5px; 
}

/* Estilos para a página de login */
.login-page {
    font-family: Arial, sans-serif;
}

.login-page .container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15vh; 
    margin-bottom: 15vh; 
}

.login-page h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.login-page .form-group {
    margin-bottom: 20px;
}

.login-page .input_data {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-page button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-page button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para mensagens de erro */
.login-page .error-message {
    color: fff;
    margin-top: 10px;
    text-align: center;
}

body.login-page,
body.cliente-page,
body.equipamento-page,
body.fornecedor-page,
body.insumo-page,
body.pedido-page,
body.produto-page {
    background-image: url('../imagens/fundo.jpg'); /* Caminho relativo ajustado */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Define a altura mínima da página como 100% da altura da viewport */
}

/* Estilos para o título de boas-vindas */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome-title {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeInText 1s ease-in-out; 
    margin-right: 150px;
}

